@{
    ViewData["Title"] = "Confirmação de apagar contato";
}

<div class="text-center">
    <h3>Deseja realmete Apagar (YASMIN) ? </h3>
</div>
<br/>
<div class="text-center">
<a class="btn btn-primary btn-block"role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>
